SpeechMorphingDataGatherer.sln.DotSettings.user
Data/
Exe/
bin/
obj/

.idea/.idea.SpeechMorphingDataGatherer/.idea/.name
.idea/.idea.SpeechMorphingDataGatherer/.idea/contentModel.xml
.idea/.idea.SpeechMorphingDataGatherer/.idea/workspace.xml
.vs/
packages/